.favorites-title {
	h1 {
		color: aliceblue;
		font-size: 3rem;
		text-align: center;
		margin: 30px;
	}
}

.favorites-container {
	display: flex;
	padding: 40px 5%;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
