.favorite-movie {
	height: 650px;
	background-color: #1e1b26;
	display: flex;
	flex-direction: column;
	border-radius: 3px;
	margin: 0 20px 20px 20px;
	box-shadow: 0 0 20px black;
	width: 300px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	&:hover {
		transform: scale(1.05);
	}
	.favorite-movie-image {
		width: 100%;
		position: relative;
		background-size: cover;
		background-blend-mode: screen;
		mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), transparent 100%);
		height: 75%;
		span {
			position: absolute;
			top: 0;
			right: 0;
			margin: 10px;
			font-size: 1.5rem;
			cursor: pointer;
		}
	}

	.favorite-movie-info {
		color: #bbb;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 15px;

		.favorite-title {
			font-size: 1.3rem;
		}

		.favorite-movie-text {
			display: flex;
			justify-content: space-between;
			margin-top: 10px;
			.favorite-likes {
				color: #f44336;
				font-size: 0.8rem;
			}
			span {
				margin-left: 10px;
			}
			.random-button {
				margin-right: 5px;
			}
		}

		.favorite-action {
			margin: 10px 0;
			display: flex;
			justify-content: space-between;
			.trash-btn {
				margin-right: 10px;
			}
			.actions-more {
				.icon {
					color: #f44336;
					cursor: pointer;
					margin-right: 15px;
					font-size: 1.5rem;
				}
			}
		}
	}
}
